<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Version 8 MySQL hiberante-cfg.xml example for Hibernate 5 -->
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!-- property name="connection.driver_class">com.mysql.jdbc.Driver</property -->
        <property name="connection.url">jdbc:mysql://localhost:3306/onlineCourses?useSSL=false</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.username">root</property>
        <property name="connection.password">224486_Nikolas</property>
        <property name="connection.pool_size">10</property>
        <!--property name="dialect">org.hibernate.dialect.MySQLDialect</property-->
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
        <property name="hbm2ddl.auto">validate</property>
        <!-- mapping class="com.mcnz.jpa.examples.Player" / -->
        <mapping class="org.example.Course"></mapping>
        <mapping class="org.example.Teacher"></mapping>
        <mapping class="org.example.Student"></mapping>
        <mapping class="org.example.Subscription"></mapping>
        <mapping class="org.example.PurchaseList"></mapping>
    </session-factory>
</hibernate-configuration>